<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKING_ID</key>
	<string>UA-85626656-1</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viroyal.Udarealm</string>
	<key>PROJECT_ID</key>
	<string>udarealm-74dce</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:930637403183:ios:e90fa8d3aade6e01</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>930637403183-vcc3it36icn7cf07nbndm38ug2hpo27m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930637403183-vcc3it36icn7cf07nbndm38ug2hpo27m</string>
	<key>API_KEY</key>
	<string>AIzaSyD3gzQW40k0pQfiqdIDXuuRO4_SEqSwSPo</string>
	<key>GCM_SENDER_ID</key>
	<string>930637403183</string>
	<key>STORAGE_BUCKET</key>
	<string>udarealm-74dce.appspot.com</string>
	<key>DATABASE_URL</key>
	<string>https://udarealm-74dce.firebaseio.com</string>
</dict>
</plist>
